.game-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  background: linear-gradient(to bottom right, #f0f4fb, #ffffff);
  padding: 20px;
  font-family: "Inter", sans-serif;
  @media (max-width: 767px) {
    align-items: center;
    justify-content: normal;
  }
  .game__progress {
    background: #ffffff;
    width: 640px;
    background: #ffffff;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0 12px 32px rgba(22, 98, 221, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
      width: 100%;
      background: transparent;
      box-shadow: none;
      padding: 0px;
      align-items: flex-start;
    }
    .game__step-bar {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .game__step-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #d0d5dd;

      &--active {
        background: #1662dd;
      }
      @media (max-width: 767px) {
        width: 0px;
        height: 0px;
      }
    }

    .game__step-line {
      height: 2px;
      width: 110px;
      background: #d0d5dd;
      @media (max-width: 767px) {
        width: 125px;
      }
      &--active {
        background: #1662dd;
      }
    }

    .game__title {
      font-size: 20px;
      font-weight: 600;
      display: flex;
      gap: 4px;
    }
  }
  .game {
    width: 640px;
    background: #ffffff;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0 12px 32px rgba(22, 98, 221, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    @media (max-width: 767px) {
      width: 100%;
      justify-content: normal;
      background: transparent;
      box-shadow: none;
      padding: 16px;
    }

    .game__timeline-start-end-text {
      margin: 10px 0px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__slider-desktop {
      width: 100%;
      max-width: 592px;
      margin: 0 auto 20px;
      height: 39px;
      position: relative;

      .slider-track {
        background: #e8f0fd;
        border-radius: 9999px;
        height: 39px;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 16px;
      }

      .slider-dot {
        position: absolute;
        top: 50%;
        transform: translate(20%, -50%);
        z-index: 2;
        width: 10px;
        height: 10px;
        background-color: #1a54af;
        border-radius: 50%;
        opacity: 0.3;
        transition: all 0.2s ease;

        &.active {
          background-color: #eff5ff;
          border: 4px solid #1662dd;
          opacity: 1;
          width: 12px;
          height: 12px;
        }

        &.star {
          width: 20px;
          height: 20px;
          background-color: transparent;
          mask: url('data:image/svg+xml;utf8,<svg fill="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>')
            no-repeat center;
          -webkit-mask: url('data:image/svg+xml;utf8,<svg fill="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>')
            no-repeat center;
          mask-size: contain;
          -webkit-mask-size: contain;
          border-radius: 0;
          opacity: 0.3;
          background-color: transparent;
        }

        &.star.active {
          background-color: #1662dd;
          opacity: 1;
        }
      }

      .slider-fill {
        background: #1662dd;
        height: 8px;
        border-radius: 9999px;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }

      .slider-handle {
        width: 18px;
        height: 18px;
        background: white;
        border: 5px solid #2169db;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translate(20%, -50%);
        z-index: 3;
        cursor: grab;
        transition: left 0.2s ease;
      }

      .slider-handle:active {
        cursor: grabbing;
      }
      .game__recommended-tag {
        position: absolute;
        top: 44px;
        left: 3px;
        font-size: 12px;
        color: #ffffff;
        background: #2169db;
        padding: 6px 10px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 4px;
        white-space: nowrap;

        &::before {
          content: "";
          position: absolute;
          top: -5px;
          left: 14%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #2169db;
        }

        .star-icon {
          width: 1rem;
          height: 1rem;
          color: #ffffff;
        }
      }
    }

    .game__recommended-text {
      font-size: 12px;
      color: #1a1a1a;
      margin-top: 40px;
      margin-bottom: 10px;
    }

    .game__continue-btn {
      background: #1662dd;
      color: #fff;
      border: none;
      width: 100%;
      padding: 14px;
      font-size: 16px;
      border-radius: 12px;
      cursor: pointer;
    }

    .game__timeline {
      background: transparent;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      .no-wrap {
        white-space: nowrap;
      }
      .game__timeline-bar {
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;
        height: 30px;
        background: #ffffff;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
      }
      .game__timeline-image {
        transform-origin: left center;
        transition: transform 0.3s ease;
        position: relative;
        left: 112px;
        border-radius: 12px;
        width: 180px;
        @media (max-width: 767px) {
          left: 20px;
        }
      }
      &-active {
        border-radius: 15px;
        height: 39px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 767px) {
          left: -94px;
        }
      }

      &-indicator.game__timeline-icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background: #d9e7ff;
        border-radius: 9999px;
        padding: 6px 16px;
        height: 15px;
        width: 71px;

        .game__timeline-text {
          font-size: 13px;
          color: #b9b9b9;
          font-weight: 500;

          strong {
            font-weight: 700;
            color: #000;
          }
        }
      }

      &-label {
        position: absolute;
        top: 3px;
        left: 30%;
        background: #fff;
        padding: 5px 10px;
        border-radius: 8px;
        font-size: 12px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      }
    }

    &__duration {
      text-align: center;
      margin-top: 30px;

      &-hour {
        font-size: 48px;
        font-weight: 700;

        span {
          font-size: 16px;
          display: block;
          margin-top: -10px;
        }
      }
    }
  }
}
